<div class="d-flex flex-column min-vh-100 dashboard-container">
    <button class="m-4" style="width: 45px" (click)="changeLanguage()">{{currentLanguage}}</button>
    <section class="d-flex flex-column justify-content-center align-items-center my-auto w-100">
        <div class="d-flex flex-column justify-content-center align-items-center search-container" *ngIf="!loadingData">
            <div class="d-flex justify-content-center align-items-center mb-1">
                <span class="text-xl text-white">{{'Phrase_1'| translate}}</span>
                <span class="text-xl text-product mx-1">{{'Phrase_2'| translate}}</span>
            </div>
            <span class="text-md text-explain mb-3">{{'Phrase_3'| translate}}</span>
            <app-search (searchCityChange)="searchCity($event)" data-test="search-input"></app-search>
        </div>
        <app-weather-result class="w-100"
                            *ngIf="hasResult && errorMessage == null && !loadingData"
                            [weather]="weather"></app-weather-result>
        <span class="text-md text-product mt-3"
              *ngIf="!hasResult && errorMessage != null && !loadingData">{{errorMessage}}</span>
        <app-icons icon="spinner" *ngIf="loadingData" class="spinner"></app-icons>
    </section>
</div>