@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

.heading-hd {
  font-size: 64px;
  line-height: 100%;
  font-weight: 1000;
  @media (max-width: $sm) {
    font-size: 32px;
    line-height: 100%;
  }
}

.heading-xl {
  font-size: 48px;
  line-height: 120%;
  font-weight: 1000;
}

.heading-lg {
  font-size: 32px;
  line-height: 140%;
  font-weight: 700;
}

.heading-md {
  font-size: 20px;
  line-height: 140%;
  font-weight: 700;
  @media (max-width: $sm) {
    font-size: 14px;
    line-height: 100%;
  }
}

.heading-sm {
  font-size: 16px;
  line-height: 140%;
  font-weight: 700;
}

.heading-xs {
  font-size: 14px;
  line-height: 140%;
  font-weight: 700;
}

.text-xl {
  font-size: 48px;
  line-height: 140%;
  font-weight: 400;
  @media (max-width: $sm) {
    font-size: 20px;
    line-height: 140%;
    font-weight: 400;
  }
}

.text-lg {
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
}

.text-md {
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
}

.text-sm {
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
}

.text-xs {
  font-size: 12px;
  line-height: 140%;
  font-weight: 400;
}

.text-xs-bold {
  font-size: 12px;
  line-height: 140%;
  font-weight: 700;
}

.text-white {
  color: $white;
}