

$product-blue-color: #8FB2F5;
$base-gray-900: #13131A;
$base-gray-800: #16161F;
$base-gray-700: #1C1C27;
$base-gray-600: #22222F;
$base-gray-500: #3B3B54;
$base-gray-400: #7F7F98;
$base-gray-300: #7F7F98;
$base-gray-200: #BFBFD4;
$base-gray-100: #FAFAFA;
$white: #FFFFFF;
$large-width-input: 700px;
$small-width-input: 350px;
$sm: 768px;